name: call-cicd-windows-form

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  call-windows-form:
    uses: gabriela-m-silva/esteiras-devops/.github/workflows/esteira-teste-conexao.yaml@main
    with:
      project-type: 'WindowsFormsApp'
    secrets: inherit